ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #aeddf4;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: fantasy;
}

ul li a:hover {
  background-color: #51c0f0;
}

h1{
  color: #88b4fb;
  text-align: center;
}

p{
  text-indent:30px;
  font-family: monospace;
  padding:10px;
}
.elephant{
  width: 300px;
   display: block;
  margin: 10px auto;
}

.spotify{
  width: 150px;
  display: block;
  margin: 20px auto;
}
