ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00aaff;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: fantasy;
}

ul li a:hover {
  background-color: #007ebd;
}

h1{
  color: #ba87ee;
  text-align: center;
  padding:30px;
}

iframe{
  display: block;
  margin: 20px auto;
}

p{ 
  padding:30px;
  text-indent: 30px;
  font-family: monospace;
 }
