body {
  margin: 0px;
  padding: 0px;
}

h1 {
  padding-top: 20px;
  text-align: center;
  font-family: sans-serif;
}

h2{
  text-align: center;
  font-family: sans-serif;
}
ul {
  list-style-type: none;
  margin: 10px;
  padding: 0px;
  overflow: hidden;
  background-color: #9caf88;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: fantasy;
}

ul li a:hover {
  background-color: #667e64;
}


p{
  text-indent: 30px;
  font-family: fantasy;
}
.aboutMe{
 padding-left: 20px;
  padding-top:0px;
}
.growth{
  padding-left: 20px;
  padding-top:0px;
  
}

.bestWork{
  padding-left:20px;
  padding-top:0px;
  
}

.future{
  padding-left:20px;
  padding-top:0px;
}

.about-ME{
  margin:20px;
  border: 4px solid #aeddf4;
  
}

.growth-div{
   border: 3.5px dashed #ba87ee;
   margin: 20px;
}

.best-WORK{
 border: 6px double #f1d41e;
  justify-content: center;
  align-items: center;
   margin: 20px;
}

.future-div{
   border: 5px dotted #0c4101;
   margin: 20px;
}
